/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------CUSTOM STYLES--------------------- */
/* Desktop styling */

/* Universal styling */
body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

/* Header styles */
.site-header {
    background-color: #ffc31f;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Main section styles */
h1 {
    font-family:'ZCOOL KuaiLe', cursive;
    font-size: 4.063rem;
    color: #312709;
}

main {
    margin: 0 auto;
    padding: 1em;
    background-color: #312709;
}

.main-section {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.welcome {
    padding: 4em;
    text-align: left;
}

main p {
    font-size: 24px;
    color: white;
    font-weight: lighter;
}

#container{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.emoji-gallery .emoji-picture {
    font-size: 7rem;
}

.unicode {
    font-size: 18px;
    font-family: 'Courier Prime', monospace;
    background-color: black;
}

/* Footer styles */
.site-footer {
    background-color: #ffc31f;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.site-footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #312709;
}

/* ---------------TABLET STYLES--------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #container {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto, 1fr;
    }
}

/* ---------------MOBILE STYLES--------------- */
@media only screen and (min-width: 375px) and (max-width: 768px) {
    #container {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    h1 {
        font-size: 3.375rem;
    }
    .welcome p {
        font-size: 20px;
    }
    .emoji-gallery .emoji-picture {
        font-size: 6rem;
    }
    .unicode {
        font-size: 16px;
    }
}